<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/CSS/products.css">
    <link rel="stylesheet" href="/CSS/headfo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
<header>
        <div class="header-content">
            <a href="homepage"><img src="images/Sportify.gif" alt="SpoRtify Logo" width="250" height="200"></a>
            <div class="search-bar">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="query" class="search-input" placeholder="Search by product or brand">
                    <button type="submit" class="search-button"><i class="fa-fa-search"></i></button>
                </form>
            </div><br>
        <% if (isAuthenticated) {%>
            <a href="logout" style="color: white"><button class="profile-button"><br>Logout</a></button>
        <% } else { %>
            <a href="login" style="color: white">
                <button class="profile-button">
                  <i class="fa fa-user" style="font-size:36px;color:white"></i><br>Login
                </button>
              </a>
        <%}%><a href="cart" style="color: white">
            <button class="cart-button">
              <i class="fa fa-shopping-cart" style="font-size:36px;color:white"></i><br>Cart
            </button>
          </a>
</div>
</header><br><br><br><br>
<main>

    
