<!DOCTYPE html>
<html>
  <head>
    <title>Login/Sign-Up</title>
    <link type="text/css" rel="stylesheet" href="css/login.css"/>
  </head>

  <body>
    <section class="imp">
      <section>
        <div class="login show" id="one">
          <div class="textbox slide-left2">
            <div class="head">
              <h1>
                Sign in
              </h1>
            </div>
            <form action="/login" method="POST">
              <input type="text" name="email" placeholder="EMAIL" required />

              <input type="password" name="password" placeholder="PASSWORD" required />

              <button id="b">
                <a href="#" style="cursor: pointer; text-decoration: none">
                 <b> Forgot password?</b>
                </a>
              </button>
              <button type="submit" class="sign_in_btn">
                SIGN IN
              </button>
              <center>
              <a href="/" class="btn">Back to Home</a>
              </center>
            </form>
          </div>
        </div>

        <div class="sec show" id="two">
          <div class="textbox slide-left">
            
            <h2>Sign up to Get into the Fanatic World!</h2>

            <button id="b1" style="cursor: pointer" class="prompt_sign_up">
             <a href="signup"> SIGN UP</a>
            </button>
          </div>
        </div>
      </section>
    </section>

    <script src="js/login.js"></script>
  </body>
</html>
