<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <link rel="stylesheet" href="css/pay.css">
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>&currency=USD"></script>
</head>
<body>
    <div id="paypal-button-container">
        <h1><i>Pay with PayPal</i></h1>
    </div>

    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                var totalAmount =  100.00;
    
                return fetch('/create-order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        totalAmount: totalAmount
                    })
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    return orderData.id;
                });
            },
            onApprove: function(data, actions) {
                return fetch('/capture-order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderId: data.orderID
                    })
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    // Redirect to confirmation page
                    window.location.href = '/confirmation';
                });
            }
        }).render('#paypal-button-container');
    </script>
    
</body>
</html>
