<main>
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
  <form action="/profile" method="POST">
        <div class="rightbox">
            <div class="profile">
                <h1>Personal Information</h1><br>
                <h2>Name</h2>
                <input type="text" class="input" name="name" id="name">
                <h2>Gender</h2>
                <input type="text" class="input" name="gender" id="gender">
                <h2>Email</h2>
                <input type="email" class="input" name="email" id="email">
                <h2>phone.no:</h2>
                <input type="number" class="input" name="phnum" id="phnum"><br><br>
                <button class="submit">
                    update
                </button>
            </div>
        </div>
    </form>
</main>
<%- include('partials/footer.ejs') %>