body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px; 
}

.h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

#paypal-button-container {
  margin-top: 20px;
}
