body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#popular-product {
  margin: 80px auto;
  text-align: center;
}

.product-content {
  display: flex;
  padding: 20px;
}

.filter {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
}

.filter fieldset {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.filter legend {
  font-weight: bold;
  padding: 5px;
}

.filter label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  margin-right: 10px;
}
.filter input[type="checkbox"],
.filter input[type="radio"] {
  cursor: pointer;
}

.filter button{
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.filter button:hover {
  background-color: #333;
  transform: scale(1.1);
}
.product-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-left: 120px;
  margin-right: 120px;
}

.product-box {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  width: calc(100% - 20px);
  height: 350px;
}

.product-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.product-box img:hover {
  transform: scale(1.1);
}

.product-box strong {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.product-box span {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

.product-box .price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  color: chocolate;
  text-align: center;
}

.product-box .add-to-cart {
  width: 100%;
  height: 40px;
  background-color: white;
  font-weight: bold;
  color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  transition: all ease 0.3s;
  border-radius: 20px;
}

.product-box .add-to-cart:hover {
  background: linear-gradient(to right, white, chocolate);
  transform: scale(1.1);
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .product-box {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-box {
      width: 100%;
  }
}